body{
    color: white;
    font-family: "palatino linotype";
  background: url(forestbgman.png) no-repeat;
  background-size: cover;
}
#part1 {
    width: 70%;
    text-align: center;
    float: left;
}

#part2 {
    width: 20%;
    float: right;
}

#generator {
    width: 40%;
}

.count {
    font-size: 1.2em
}

#middle {
    float: right;
    width: 30%;
}

#left {
    width: 70%;
    float: left;
}

#right {
    width: 100%;
}

.headings {
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
}

.tableHeader {
    background: url(menutitle.jpg);
    width: 60%;
    height:140%;
    border-radius: 5px;
    border-color: brown;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    font-size: 1.2em;
}
#middle{
background: url(menubackground.jpg);
    border-radius: 20px;
    border-color: brown;
background-size:100%;

}

#upgrade {
    width: 20%;
    display: inline-block;
}

.button {
    border: none;
    padding: 7px;
    font-size: .8em;
    background-color: #CFD2CD;
    text-align: center;
    float: left;
    border-radius: 5px;
    font-family: serif;
}

.button:hover {
    background-color: #46494C;
    color: white;
    font-weight: 600;
}
